#mp4-bg{
    position: absolute;
    border-style: none;
    filter: blur(5px);
}
#xiaozhan{
    user-select: none;
    position: absolute;
    width: 70%;
    height: 40vw;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    left: 50%;
    top: 0vw;
    margin-left: -35%;
    margin-top: 80px;
    animation:  start 3.5s;
    display: block;
}
#list{
    background-color: #ffffff;
    user-select: none;
    position: absolute;
    width: 20%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#head{
    width: 100%;
    height: 6vw;
    border-top-left-radius: 10px;
    background-image: url('https://i0.hdslb.com/bfs/article/6b3afe7dae271d838f2f83b477fc6d0c3bdc113d.jpg@1256w_910h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.shici{
    user-select: none;
    position: absolute;
    width: 100%;
    height: 3vw;
    font-size: 1vw;
    color: #000000;
    left: 0vw;
    bottom: 0;
    font-family: ChunChan_KaiTi;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    background-image: url('https://i0.hdslb.com/bfs/article/cb1af5effe1937437a3519d19bcfb635e1f34354.jpg@1256w_1912h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: 10% 25%;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#jinrishici{
    user-select: none;
    position: absolute;
    color: #000;
    right: 0;
    bottom: -5px;
    font-family: ChunQiu_QiuHong;
}
#details{
    user-select: none;
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 100%;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    animation: appear  1s ease-in-out;
}
#img2{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#hp{
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    top: 5vw;
    margin-top: -40px;
}
#text1{
    position: absolute;
    user-select: none;
    color: #000;
    width: 60%;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    line-height: 25px;
    font-size: 2.6vw;
    right: 0vw;
    top: 7vw;
    margin-top: -25px;
}
#wenan{
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 900px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 1.5vw;
    left:1vw;
    top: 8vw;
}
#text2{
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 700px;
    height: 50px;
    font-weight: bolder;
    font-family: ChunQiu_QiuHong;
    font-size: 7vw;
    left:3vw;
    top: 10vw;

}
#text3{
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 500px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 3vw;
    left:5.5vw;
    top: 17vw;
}
#text4{
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 500px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 1.8vw;
    left:5.5vw;
    top: 20.5vw;
}
#text5{
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 500px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 1.8vw;
    left:5.5vw;
    top: 26vw;
    transition: all 0.25s ease-in-out;
}
#text5:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#textbottom{
    position: absolute;
    user-select: none;
    color: #000000;
    width: 500px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 1vw;
    left: 0vw;
    bottom:-1vw;
}
#time{
    text-align: right;
    position: absolute;
    user-select: none;
    color: #ffffff;
    width: 500px;
    height: 50px;
    font-family: ChunQiu_QiuHong;
    font-size: 1.5vw;
    right: 0;   
}

#tip1{
    display: none;
    user-select: none;
    position: absolute;
    top: 30px;
    left: -20px;
    font-size: 17px;
    font-family: ChunQiu_QiuHong;
}
#tip2{
    display: none;
    user-select: none;
    position: absolute;
    top: 30px;
    left: 90px;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
}
#bilibili{
    color: #000;
}
#bilibili:hover{
    color: #00AEEC;;
}
#bilibili:hover #tip1{
    display: block;
}
#qq{
    color: #000;
}
#qq:hover {
    color: #39beee;
}
#qq:hover .qqQR{
    display: block;
}
#weixin{
    color: #000;
}
#weixin:hover {
    color: #62b900;
}
#weixin:hover .weixinQR{
    display: block;
}
#github{
    color: #000;
}
#github:hover {
    color: #444343;
}
#github:hover #tip2{
    display: block;
}
.qqQR{ 
    display: none;
    position: absolute;
    left: -350px;
    top: 50px;
}
.weixinQR{
    display: none;
    position: absolute;
    left: -390px;
    top: 50px;
}
#zhuye{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 10vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    line-height: 3vw;
    color: #706f6f;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
}
#guyu{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 13vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    line-height: 3vw;
    color: #e9df4f;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
}
#dongtai{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 16vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    line-height: 3vw;
    color: #3ea4e7;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
}
#shoucang{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 19vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    line-height: 3vw;
    color: #d67171;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
}
#jianzhan{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 22vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    line-height: 3vw;
    color: #646262;
    font-size: 20px;
    font-family: ChunQiu_QiuHong;
    
}
.li{
    transition: all 0.25s;
}
.li:hover{
    background-color: #aaa7a7;
}
/*
@keyframes start {
    0%{
        filter: opacity(0);
        transform: rotateY(180deg)rotateZ(270deg)rotateX(180deg);
    }
    100%{
        filter: opacity(1);
        transform: rotateY(0deg)rotateZ(0deg)rotateX(0deg);
    }
    
}

/*
主页
*/
#page-zhuye{
    user-select: none;
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 100%;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    overflow: auto;
    font-family: ChunQiu_QiuHong;   
    display: none;
    animation: appear  1s ease-in-out;
}
#page-zhuye-back{
    user-select: none;
    position: absolute;
    font-size: 2vw;
    right: 1vw;
    top: 1vw;
    color: #444343;
    transition: all 0.35s;
}
#page-zhuye-back:hover {
    color: #e04242;
}
#icon-zhuye{
    user-select: none;
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: 1.7vw;
    color: #444343;
}
#page-zhuye-bg{
    width: 100%;
    height: 100%;
    background-image: url('https://i0.hdslb.com/bfs/article/1d93692de96648a8b638a1d83e1d5fdaf934ad8a.jpg@1256w_784h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(2px);
}


#about{
    user-select: none;
    position: absolute;
    text-align: center;
    line-height: 20vw;
    width: 15vw;
    height: 20vw;
    top: 10vw;
    left: 3vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  
}
#page-zhuye-bg1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('https://i0.hdslb.com/bfs/article/d4bcf93a25642bbce0ac5624c4406e558c44aa2f.jpg@1256w_1764h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.35s;
}
#about:hover #page-zhuye-bg1{
    filter: blur(4px);
}
#about:hover #page-zhuye-text1{
    font-size: 2.3vw;
}
#about:hover #page-zhuye-text2{
    font-size: 1.2vw;
}
#page-zhuye-text1{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 6vw;
    font-size: 2vw;
    color: #000;
    transition: all 0.25s;
}
#page-zhuye-text2{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 11vw;
    font-size: 1.1vw;
    color: #000;
    transition: all 0.25s;
}



#blog{
    user-select: none;
    position: absolute;
    text-align: center;
    line-height: 20vw;
    width: 15vw;
    height: 20vw;
    top: 10vw;
    left: 21vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  
}
#page-zhuye-bg2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('https://i0.hdslb.com/bfs/article/cb1af5effe1937437a3519d19bcfb635e1f34354.jpg@1256w_1912h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.35s;
}
#blog:hover #page-zhuye-bg2{
    filter: blur(4px);
}
#blog:hover #page-zhuye-text3{
    font-size: 2.3vw;
}
#blog:hover #page-zhuye-text4{
    font-size: 1.2vw;
}
#page-zhuye-text3{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 6vw;
    font-size: 2vw;
    color: #000;
    transition: all 0.25s;
}
#page-zhuye-text4{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 11vw;
    font-size: 1.1vw;
    color: #000;
    transition: all 0.25s;
}



#music{
    user-select: none;
    position: absolute;
    text-align: center;
    line-height: 20vw;
    width: 15vw;
    height: 20vw;
    top: 10vw;
    left: 39vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  
}
#page-zhuye-bg3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('https://i0.hdslb.com/bfs/article/54b4ecabea2740ec0633a6bf5197fa61b5e72b3e.jpg@1256w_2154h_!web-article-pic.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.35s;
}
#music:hover #page-zhuye-bg3{
    filter: blur(4px);
}
#music:hover #page-zhuye-text5{
    font-size: 2.3vw;
}
#music:hover #page-zhuye-text6{
    font-size: 1.2vw;
}
#page-zhuye-text5{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 6vw;
    font-size: 2vw;
    color: #000;
    transition: all 0.25s;
}
#page-zhuye-text6{
    user-select: none;
    position: absolute;
    width: 15vw;
    height: 4vw;
    line-height: 4vw;
    top: 11vw;
    font-size: 1.1vw;
    color: #000;
    transition: all 0.25s;
}


/*动画*/
@keyframes appear { 
    from{
        filter: drop-shadow(0 0 0.75rem rgb(20, 173, 220))blur(0.5px);
    }
    to{
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0))blur(0px);
    }
}
