#mobile-top-right{
    position: absolute;
    right: 0;
    width: 130px;
    height: 210px;
    font-family: HanSansCN;
}
.list{
    position: absolute;
    width: 130px;
    height: 210px;
    right: 0px;
    top: 31px;
    padding: 10px;
    background-color: #31313152;
    text-align: center;
    border-radius: 5px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: list-1 0.5s;
    overflow: hidden;
}
.mobile-topbut-style{
    position: relative;
    transition: all 0.25s;
    top: 5px;
    padding: 10px;
    width: 100px;
}
.mobile-topbut-style:hover{
    font-weight: bolder;
}
.mobile-topbut-style:hover::after{
    content: "🐲";
    cursor: pointer;
}
.mobile-topbut-style:hover::before{
    content: "🐲";
}
#list-but{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    transition: all 0.25s;
    width: 70px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    background-color: #31313100;
}
#listimg{
    position: absolute;
    right: 10px;
    line-height: 20px;
}
#select-text{
    position: absolute;
}
#list-but:hover #listimg{
    color: white;
}
#list-but:hover .list{
    display: block;
}
#mobile-home:hover{
    color: white;
}
#mobile-article:hover{
    color: white;
}
#mobile-forum:hover{
    color: white;
}
#mobile-more:hover{
    color: white;
}
#mobile-about:hover{
    color: white;
}



@keyframes listbut-1 {
    from{
        width: 70px;
    }
    to{
        width: 140px;
    }
}
@keyframes listbut-2 {
    from{
        width: 140px;
    }
    to{
        width: 70px;
    }
}
@keyframes list-1 {
    from{
        height: 0px;
    }
    to{
        height: 210px;
    }
}
